<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="FlightBooking">
  <test thread-count="5" name="FlightSearch">
  <parameter name="browser" value="chrome" />
    <classes>
      <class name="com.FlightBooking.testCases.TC_Search"/>
    </classes>
  </test> <!-- FlightSearch -->
</suite> <!-- FlightBooking -->
